body {
  margin: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* Imagen como marca de agua */
body::before {
  content: "";
  background-image: url('/yoproveo_logo_mvp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.05; /* más tenue */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* atrás de todo */
}
